/*
  Reset CSS
  清除默认样式
*/

/* 通用元素样式 */
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
figure,
hr,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

/* 文本样式 */
body,
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* 链接样式 */
a {
  text-decoration: none;
  color: inherit;
}

/* 列表样式 */
ul,
ol {
  list-style: none;
}

/* 表单元素样式 */
button,
input,
select,
textarea {
  outline: none;
}

/* 图片样式 */
img {
  max-width: 100%;
  height: auto;
}

/* 清除浮动 */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
